@{
    ViewData["Title"] = "Demo Courier Pattern Page";
}

<div class="text-center">
    <h1 class="display-4">Courier Pattern Demo</h1>
    <form asp-controller="Home" asp-action="ProcessForm" method="post">

    </form>
</div>
